/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Dark theme */
body{
    background-color: black;
    font-family: "Inter", sans-serif;
}

/* shared style */
.section-area{
    max-width: 1060px;
    margin: 0 auto;
    margin-top: 80px;
}
.bg-primary{
    background: rgb(230, 83, 60);
}
.bg-secondary{
    background: rgb(34, 34, 34);
}
.logo{
    color: rgb(230, 83, 60);
    font-size: 2.25rem;
    font-weight: 800;
    text-align: left;
    font-style: italic;
}
.section-title{
    color: rgb(255, 255, 255);
    font-size: 2.2rem;
    font-weight: 900;
    margin-bottom: 14px;
}
.section-description{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8rem;
    font-weight: 400;
    margin-bottom: 14px;
}
.btn{
    border-radius: 42px;
    padding: 12px 30px;
    color: rgb(255, 255, 255);
    background: rgb(230, 83, 60);
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 600;
}
.left{
    text-align: left;
}
.center{
    text-align: center;
}
.white{
    color: white;
}
.p-color{
    color: rgba(255, 255, 255, 0.5);
}
.flex{
    display: flex;
}
.grid{
    display: grid;
}

/* navbar styles */
.navbar{
    margin-top: 57px;
    justify-content: space-between;
    align-items: center;
}
.menu{
    gap: 40px;
}
.menu li{
    list-style: none;
}
.menu li a{
    text-decoration: none;
    color: white;
}
#active{
    border-radius: 40px;
    background: rgb(230, 83, 60);
    padding: 7px 15px;
}

.hamburger-icon{
    display: none;
}
.hamburger-icon div{
    width: 25px;
    height: 3px;
    background-color: white;
    margin-bottom: 4px;
}

/* banner styles */
.banner{
    margin-top: 32px;
    justify-content: space-between;
    align-items: center;
}
.content{
    max-width: 500px;
    flex-direction: column;
    gap: 25px;
}
#banner-title{
    font-size: 4.7rem;
}
#shape{
    font-family: "Dancing Script", cursive;
    font-size: 7rem;
}
.buttons{
    gap: 10px;
}
#btn-bg-black{
    background-color: black;
    border: 1px solid rgb(255, 255, 255);
}
.image{
    width: 350px;
    height: 580px;
    background-image: url(../images/Images\ 2.png);
    position: relative;
}
.video350, .video500{
    max-width: 206px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    padding: 15px 20px;
    position: absolute;
}
.video350{
    gap: 15px;
    align-items: center;
    background: rgba(35, 33, 33, 0.53);
    bottom: 80px;
    left: -110px;
}
.red-circle{
    width: 35px;
    height: 35px;
    border: 2px solid rgb(230, 83, 60);
    border-radius: 50%;
    background-color: rgb(230, 83, 60);
}
.video350 h2{
    font-size: 1.5rem;
}
.video350 p{
    font-size: 1rem;
}
.video500{
    background: rgba(225, 218, 218, 0.19);
    top: 140px;
    right: -50px;
}
.video500 h2{
    font-size: 2.2rem;
}
.video500 p{
    font-size: 0.8rem;
}

/* Change Your Habits section style */
.circle-posts{
    margin-top: 45px;
    gap: 20px;
}
.circle-post{
    flex-direction: column;
    align-items: center;
}
.circle-post img{
    border-radius: 50%;
    margin-bottom: 20px;
}
.circle-post h4{
    font-size: 0.9rem;
    font-weight: 600;
    margin-bottom: 8px;
}

/* run an extra mile section style */
.run-mile-container{
    border-radius: 10px;
}
.run-mile-content{
    align-items: center;
    justify-content: space-around;
    padding: 30px 0px;
}
.run-content{
    width: 40%;
    flex-direction: column;
    gap: 10px;
}
.run-image{
    width: 40%;
}
.run-image img{
    border-radius: 10px;
    width: 100%;
}

/* BMI calculator section style */
.bmi-section-heading{
    margin: 80px 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bmi-chart{
    flex-direction: column;
    gap: 35px;
}
.calculate-bmi{
    flex-direction: column;
    gap: 10px;
}
.table-area{
    justify-content: space-between;
    gap: 200px;
    padding: 50px 0px;
}
table{
    border-collapse: collapse;
}
th{
    font-size: 1rem;
    font-weight: 400;
}
th, td{
    border: 1px solid rgba(211, 211, 211, 0.1);
    padding: 12px 20px;
}
.input-form{
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}
.col-span{
    grid-column: span 2;
}
.input{
    border: 1px solid rgba(0, 0, 0, 0.068);
    border-radius: 10px;
    background: rgba(238, 234, 234, 0.064);
    padding: 20px 25px;
    max-height: 60px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
}
.select{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
}
input::placeholder{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
}
input:focus{
    color: rgba(255, 255, 255, 0.804);
    font-size: 1rem;
}
form{
    margin-bottom: 20px;
}

/* meet our team style */
.trainer{
    min-height: 600px;
    padding: 10px;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    border-radius: 10px;
    margin-bottom: 50px;
}
.trainer-image1{
    background-image: url(../images/trainer1.png);
}
.trainer-image2{
    background-image: url(../images/trainer2.png);
}
.trainer-image3{
    background-image: url(../images/trainer3.png);
}
.trainer-image4{
    background-image: url(../images/trainer4resize.png);
}
.trainer-image5{
    background-image: url(../images/trainer5.png);
}
.trainer-image6{
    background-image: url(../images/trainer6.png);
}
.trainer-image1,
.trainer-image2,
.trainer-image3,
.trainer-image4,
.trainer-image5,
.trainer-image6{
    background-size: cover;
    border-radius: 10px;
    flex-direction: column;
    justify-content: end;
    align-items: baseline;
    padding: 10px;
}
/* .trainer img{
    width: 100%;
    height: 350px;
    border-radius: 10px;
} */
/* .trainer{
    background-image: url(../images/trainer1.png), url(../images/trainer2.png), url(../images/trainer3.png), url(../images/trainer4.png), url(../images/trainer5.png), url(../images/trainer6.png)
} */


/* responsive style */
@media screen and (max-width: 576px) {
    .section-area{
        max-width: 350px;
        margin: 0 auto;
        margin-top: 30px;
    }
    .menu-bar{
        display: none;
    }
    .hamburger-icon{
        display: flex;
        flex-direction: column;
    }
    .banner{
        flex-direction: column;
        margin-top: 32px;
        justify-content: space-between;
        align-items: center;
    }
    #banner-title{
        font-size: 3rem;
    }
    #shape{
        font-size: 4.2rem;
    }
    .btn{
        font-size: 0.9rem;
    }
    .video350{
        bottom: 260px;
        left: -15px;
        padding: 10px 15px;
    }
    .video500{
        top: 40px;
        right: -5px;
        padding: 10px 15px;
    }

    .circle-posts{
        flex-direction: column;
    }

    .run-mile-content{
        flex-direction: column;
        gap: 30px;
    }
    .run-content,
    .run-image{
        width: 80%;
    }

    .table-area{
        flex-direction: column;
        gap: 30px
    }
    .input{
        width: 100%;
    }
    .trainer{
        grid-template-columns: repeat(1, 1fr);
    }

}
