/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:wght@100..900&display=swap');

/* miama font */
@import url('https://fonts.cdnfonts.com/css/miama');

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Dark theme */
body{
    background-color: black;
    font-family: "Inter", sans-serif;
}

/* shared style */
.section-area{
    max-width: 1060px;
    margin: 0 auto;
    margin-bottom: 115px;
}
.header-area{
    max-width: 1060px;
    margin: 0 auto;
    margin-bottom: 60px;
}
.mb-65{
    margin-bottom: 65px;
}
.bg-secondary{
    background: rgb(34, 34, 34);
}
.logo{
    color: rgb(230, 83, 60);
    font-size: 2.25rem;
    font-weight: 800;
    text-align: left;
    font-style: italic;
}
.section-title{
    color: rgb(255, 255, 255);
    font-size: 2.2rem;
    font-weight: 900;
    margin-bottom: 14px;
}
.section-description{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8rem;
    font-weight: 400;
    margin-bottom: 14px;
}
.btn{
    border: 1px solid rgba(230, 83, 60, 0.831);
    border-radius: 42px;
    padding: 12px 30px;
    color: rgb(255, 255, 255);
    background: rgb(230, 83, 60);
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 600;
}
.left{
    text-align: left;
}
.center{
    text-align: center;
}
.justify{
    text-align: justify;
}
.white{
    color: white;
}
.p-color{
    color: rgba(255, 255, 255, 0.5);
}
.flex{
    display: flex;
}
.grid{
    display: grid;
}

/* Up-arrow styles */
.scrollUp img{
    width: 80px;
    height: 80px;
}
.scrollUp{
    flex-direction: column;
    align-items: flex-end;
    margin-right: 75px;
    position: sticky;
    top: 620px;
}

/* header{
    background-color: rgba(255, 255, 255, 0.085);
    background-blend-mode: overlay;
} */
header{
    background-image: linear-gradient(360deg, rgba(0, 0, 0, 0.082), rgba(255, 255, 255, 0.14));
}

/* navbar style */
.navbar{
    padding-top: 57px;
    justify-content: space-between;
    align-items: center;
}
.menu-bar{
    border: 1px solid rgba(255, 255, 255, 0.128);
    border-radius: 50px;
    padding: 12px 25px 12px 7px;
}
.menu{
    gap: 40px;
}
.menu li{
    list-style: none;
}
.menu li a{
    text-decoration: none;
    color: white;
}
#active{
    border-radius: 40px;
    background: rgb(230, 83, 60);
    padding: 7px 15px;
}
.hamburger-icon{
    display: none;
}
.hamburger-icon div{
    width: 25px;
    height: 3px;
    background-color: white;
    margin-bottom: 4px;
}

/* banner style */
.banner{
    margin-top: 32px;
    justify-content: space-between;
    align-items: center;
}
.content{
    max-width: 500px;
    flex-direction: column;
    gap: 25px;
}
#banner-title{
    font-size: 4.7rem;
}
#shape{
    font-family: 'Miama', sans-serif;
    font-size: 9rem;
    font-weight: 500;
    line-height: 0;
}
.buttons{
    gap: 10px;
}
#btn-bg-black{
    background-color: black;
    border: 1px solid rgb(255, 255, 255);
}
.image{
    width: 350px;
    height: 580px;
    background-image: url(../images/Images\ 2.png);
    position: relative;
}
.video350, .video500{
    max-width: 206px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    padding: 10px 20px;
    position: absolute;
}
.video350{
    gap: 15px;
    align-items: center;
    background: rgba(35, 33, 33, 0.95);
    bottom: 80px;
    left: -110px;
}
.red-circle{
    width: 35px;
    height: 35px;
    border: 2px solid rgb(230, 83, 60);
    border-radius: 50%;
    background-color: rgb(230, 83, 60);
}
.video350 h2{
    font-size: 1.5rem;
}
.video350 p{
    font-size: 1rem;
}
.video500{
    background: rgba(225, 218, 218, 0.19);
    top: 120px;
    right: -55px;
}
.video500 h2{
    font-size: 2.2rem;
}
.video500 p{
    font-size: 0.8rem;
}

/* Change Your Habits section style */
.circle-posts{
    margin-top: 45px;
    gap: 20px;
}
.circle-post{
    flex-direction: column;
    align-items: center;
}
.circle-post img{
    border-radius: 50%;
    margin-bottom: 20px;
}
.circle-post h4{
    font-size: 0.9rem;
    font-weight: 600;
    margin-bottom: 8px;
}


/* run an extra mile section style */
.run-mile-container{
    border-radius: 10px;
}
.run-mile-content{
    align-items: center;
    justify-content: space-around;
    padding: 30px 0px;
    gap: 30px;
}
.run-content{
    flex-direction: column;
    gap: 10px;
}
.run-image img{
    border-radius: 10px;
}

/* Training and Exercise section style */
.training-images-row1{
    grid-template-columns: repeat(4, 1fr);
}
#image1{
    background-image: url(../images/exercise1.jpg);
    background-color: rgba(11, 127, 88, 0.521);
    background-blend-mode: overlay;
    align-items: flex-end;
}
#image2{
    background-image: url(../images/exercise2.png);
    grid-column: span 2;
    background-color: rgba(188, 37, 37, 0.525);
    background-blend-mode: overlay;
    align-items: flex-start;
}
#image3{
    background-image: url(../images/exercise3.png);
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    align-items: flex-end;
}
#image4{
    background-image: url(../images/exercise4.png);
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    align-items: flex-end;
    width: 85%;
}
#image5{
    background-image: url(../images/exercise5.jpg);
    background-color: rgba(14, 126, 44, 0.539);
    background-blend-mode: overlay;
    align-items: flex-end;
    width: 65%;
}
#image6{
    background-image: url(../images/exercise6.jpg);
    background-color: rgba(27, 8, 133, 0.525);
    background-blend-mode: overlay;
    align-items: flex-end;
    width: 70%;
}
#image1,
#image2,
#image3,
#image4,
#image5,
#image6{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.training-image{
    height: 260px;
    padding: 30px;
}
.training-image p{
    color: white;
    font-weight: 400;
    font-size: 0.8rem;
    border-left: 3px solid rgb(230, 83, 60);
    padding-left: 6px;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Unique section 1: Our Achievements style */
.achievements{
    flex-direction: column;
    gap: 40px;
}
.cards{
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.card{
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(211, 211, 211, 0.274);
    border-radius: 10px;
    padding: 10px;
    gap: 15px;
}
.card-image{
    width: 55%;
}
.card-content{
    width: 45%;
}
.card img{
    width: 100%;
    border-radius: 10px;
}

.card-title{
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 10px;
}
.card-btn{
    border: 2px solid rgba(255, 255, 255, 0.537);
    border-radius: 20px;
    padding: 6px 12px;
    color: rgba(255, 255, 255, 0.71);
    background: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 500;
}
.pagination{
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
}
.number{
    color: rgba(255, 255, 255, 0.511);
    font-size: 1.1rem;
    font-weight: 500;
}
#on-page{
    color: rgba(255, 255, 255, 0.858);
}
.action-plans{
    flex-direction: column;
    gap: 30px;
}
.plans{
    grid-template-columns: repeat(4,1fr);
    padding: 20px 0px;
    border-radius: 10px;
}
.plan{
    flex-direction: column;
    align-items: center;
}
.plan img{
    width: 150px;
    height: 150px;
}
.plan-btn{
    border: 1px solid rgba(230, 83, 60, 0.831);
    border-radius: 40px;
    padding: 9px 18px;
    color: rgb(255, 255, 255);
    background: rgb(230, 83, 60);
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 600;
}
.find{
    background-image: url(../images/exercise2.png);
    background-size: cover;
    background-repeat: none;
    background-position: center;
    background-color: rgba(13, 21, 179, 0.582);
    background-blend-mode: overlay;
    padding: 50px 0px;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    border-radius: 10px;
}
.action-btn{
    gap: 5px;
}
.enter-btn{
    border: 1px solid rgba(230, 83, 60, 0.831);
    border-radius: 10px;
    padding: 0px 20px;
    color: rgb(255, 255, 255);
    background: rgb(230, 83, 60);
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 600;
}
#bg-dark{
    background: rgba(2, 2, 2, 0.811);
    font-size: 1.6rem;
}

/* BMI calculator section style */
.bmi-heading{
    flex-direction: column;
    align-items: center;
}
#mb-60{
    margin-bottom: 65px;
}
.bmi-chart{
    flex-direction: column;
    gap: 35px;
}
.calculate-bmi{
    flex-direction: column;
    gap: 10px;
}
.table-area{
    justify-content: space-between;
    gap: 200px;
    padding: 50px 0px;
}
table{
    border-collapse: collapse;
}
th{
    font-size: 1rem;
    font-weight: 400;
}
th, td{
    border: 1px solid rgba(211, 211, 211, 0.1);
    padding: 12px 20px;
}
.input-form{
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}
.col-span{
    grid-column: span 2;
}
.input{
    border: 1px solid rgba(0, 0, 0, 0.068);
    border-radius: 10px;
    background: rgba(238, 234, 234, 0.064);
    padding: 20px 25px;
    max-height: 60px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    border-right: 15px solid transparent;
}
.select{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
}
input::placeholder{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
}
input:focus{
    color: rgba(255, 255, 255, 0.804);
    font-size: 1rem;
}
form{
    margin-bottom: 20px;
}
option{
    background-color: rgb(34, 34, 34);
}

/* meet our team style */
.trainer{
    min-height: 600px;
    padding: 10px;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    border-radius: 10px;
    margin-bottom: 50px;
}
.trainer-image1{
    background-image: url(../images/trainer1.png);
}
.trainer-image2{
    background-image: url(../images/trainer2.png);
}
.trainer-image3{
    background-image: url(../images/trainer3.png);
}
.trainer-image4{
    background-image: url(../images/trainer4resize.png);
}
.trainer-image5{
    background-image: url(../images/trainer5.png);
}
.trainer-image6{
    background-image: url(../images/trainer6.png);
}
.trainer-image1,
.trainer-image2,
.trainer-image3,
.trainer-image4,
.trainer-image5,
.trainer-image6{
    background-size: cover;
    border-radius: 10px;
    flex-direction: column;
    justify-content: end;
    align-items: baseline;
    padding: 10px;
}

/* Review Rating section style */
.review-ratings-container{
    flex-direction: column;
    gap: 20px;
}
.review-ratings{
    justify-content: space-between;
    gap: 20px;
}
.ratings-writeReview{
    flex-direction: column;
}
.reviews{
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin: 10px 0px 20px 0px;
}
.review-card{
    flex-direction: column;
    padding: 10px;
    border-radius: 20px 0px 20px 0px;
    border: 1px solid rgba(211, 211, 211, 0.667);
}
.name-pic{
    align-items: center;
    gap: 10px;
}
.name-pic img{
    width: 30px;
    height: 30px;
}
.ratings{
    flex-direction: column;
    gap: 10px;
    /* width: 35%; */
}

.stars{
    flex-direction: column;
}
.number-star{
    align-items: center;
    gap: 5px;
}
.name-star{
    flex-direction: column;
}
.star-time{
    align-items: center;
    gap: 10px;
    margin-top: 4px;
}
.star-icon{
    font-size: 0.8rem;
    /* color: rgb(255, 179, 2); */
    color: rgba(255, 255, 255, 0.5);
}
.star-icon-gold{
    font-size: 0.6rem;
    color: rgb(255, 179, 2);
}
.line-area{
    width: 200px;
    height: 7px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.461);
}
.line{
    height: 7px;
    border-radius: 10px;
    background-color: rgb(255, 179, 2);
}
#line-5{
    width: 200px;
    height: 7px;
    border-radius: 10px;
    background-color: rgb(255, 179, 2);
}
#line-4{
    width: 130px;
    height: 7px;
    border-radius: 10px;
    background-color: rgb(255, 179, 2);
}
#line-3{
    width: 20px;
    height: 7px;
    border-radius: 10px;
    background-color: rgb(255, 179, 2);
}
#line-2{
    width: 10px;
    height: 7px;
    border-radius: 10px;
    background-color: rgb(255, 179, 2);
}
#line-1{
    width: 5px;
    height: 7px;
    border-radius: 10px;
    background-color: rgb(255, 179, 2);
}
.number-line{
    align-items: center;
    gap: 15px;
}
.ratings-writeReview{
    flex-direction: column;
    gap: 15px;
}
.write-review{
    margin-top: 25px;
}
.review-ratings-title{
    color: rgb(255, 255, 255);
    letter-spacing: 15px;
}
textarea{
    margin: 12px 0px;
    border: 1px solid rgba(255, 255, 255, 0.347);
    border-radius: 10px;
    background-color: black;
    color: rgba(255, 255, 255, 0.84);
    font-size: 1rem;
}
textarea::placeholder{
    font-size: 1rem;
    padding: 10px;
}

.name-star{
    flex-direction: column;
}

/* Footer section style */
.footer-content{
    justify-content: space-between;
    padding-top: 70px;
    margin-bottom: 80px;
}
#brand-font{
    font-size: 4rem;
}
.brand{
    flex-direction: column;
    gap: 30px;
}
.get-started{
    flex-direction: column;
    gap: 15px;
}
.get-started p, .disclaimer p{
    font-size: 1.3rem;
}
#mb-zero{
    margin-bottom: 0px;
}
.disclaimer p{
    padding: 35px 0px;
}

/* Small devices responsive style */
@media screen and (max-width: 576px) {
    .section-area{
        max-width: 350px;
        margin: 0 auto;
        margin-bottom: 100px;
    }
    .header-area{
        max-width: 350px;
        margin: 0 auto;
        margin-bottom: 50px;
    }
    .menu-bar{
        display: none;
    }
    .navbar{
        padding-top: 25px;
    }
    .hamburger-icon{
        display: flex;
        flex-direction: column;
    }
    .banner{
        flex-direction: column;
        margin-top: 32px;
        justify-content: space-between;
        align-items: center;
    }
    #banner-title{
        font-size: 3rem;
    }
    #shape{
        font-size: 4.2rem;
        line-height: 0;
    }
    .btn{
        font-size: 0.9rem;
    }
    .video350{
        bottom: 260px;
        left: -15px;
        padding: 10px 15px;
    }
    .video500{
        top: 40px;
        right: -5px;
        padding: 10px 15px;
    }

    .circle-posts{
        flex-direction: column;
    }

    .run-mile-content{
        flex-direction: column;
        gap: 50px;
        padding: 20px;
    }
    .run-image img{
        width: 100%;
    }
    .training-images-row1{
        grid-template-columns: repeat(2, 1fr);
    }
    .training-image{
        height: 160px;
        padding: 10px;
    }
    #image2, #image4{
        grid-column: auto;
    }
    #image4{
        width: 65%;
    }
    #image5{
        width: 85%;
    }

    .cards{
        grid-template-columns: repeat(1, 1fr);
    }
    .card{
        gap: 20px;
    }
    .plans{
        grid-template-columns: repeat(2, 1fr);
    }
    .action-btn{
        flex-direction: column;
        gap: 5px;
        align-items: center;
    }
    .find{
        padding: 25px 15px;
        gap: 15px;
    }
    .enter-btn{
        width: 30%;
        border-radius: 50px;
        padding: 10px 20px;
    }

    .bmi-heading{
        margin: 0 auto;
    }
    .table-area{
        flex-direction: column;
        gap: 30px
    }
    .input{
        width: 100%;
    }
    .trainer{
        grid-template-columns: repeat(1, 1fr);
        grid-column: auto;
    }
    .small-off{
        display: none;
    }
    .trainer-image1,
    .trainer-image2,
    .trainer-image3,
    .trainer-image4,
    .trainer-image5,
    .trainer-image6{
        height: 280px;
    }

    .card{
        flex-direction: column;
    }
    .card-image, .card-content{
        width: 100%;
    }

    .review-ratings{
        flex-direction: column-reverse;
    }
    .reviews{
        grid-template-columns: repeat(2, 1fr);
    }
    .star-time{
        flex-direction: column;
        align-items: flex-start;
        gap: 0px;
    }
    #start-rating{
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    .footer-content{
        flex-direction: column;
        gap: 25px;
    }
    .disclaimer{
        margin-top: 50px;
    }

    .scrollUp img{
        width: 60px;
        height: 60px;
    }
    .scrollUp{
        margin-right: 10px;
        top: 560px;
    }
}
/* Medium devices responsive style */
@media screen and (min-width: 577px) and (max-width: 792px){
    .section-area{
        max-width: 700px;
        margin: 0 auto;
        margin-bottom: 50px;
    }
    .header-area{
        max-width: 700px;
        margin: 0 auto;
        margin-bottom: 50px;
    }
    .banner{
        max-width: 700px;
        margin-top: 32px;
        justify-content: space-between;
        align-items: center;
    }
    .content{
        max-width: 360px;
    }
    #banner-title{
        font-size: 3rem;
    }
    #shape{
        font-size: 4.2rem;
        line-height: 0;
    }
    .btn{
        font-size: 0.9rem;
    }
    .video350{
        bottom: 260px;
        left: -15px;
        padding: 10px 15px;
    }
    .video500{
        top: 40px;
        right: -5px;
        padding: 10px 15px;
    }

    .circle-posts{
        justify-content: space-between;
        width: 100%;
    }
    .circle-post img {
        width: 153px;
        height: 153px;
    }

    .run-mile-content{
        gap: 50px;
        padding: 20px;
    }
    .run-image img{
        width: 100%;
    }
    .training-images-row1{
        grid-template-columns: repeat(2, 1fr);
    }
    .training-image{
        height: 160px;
        padding: 10px;
    }
    #image2, #image4{
        grid-column: auto;
    }
    #image4{
        width: 65%;
    }
    #image5{
        width: 85%;
    }

    .cards{
        grid-template-columns: repeat(1, 1fr);
    }
    .card{
        gap: 20px;
    }
    .plans{
        grid-template-columns: repeat(2, 1fr);
    }
    .action-btn{
        flex-direction: column;
        gap: 5px;
        align-items: center;
    }
    .find{
        padding: 25px 15px;
        gap: 15px;
    }
    .enter-btn{
        width: 30%;
        border-radius: 50px;
        padding: 10px 20px;
    }

    .bmi-heading{
        margin: 0 auto;
    }
    .table-area{
        gap: 30px
    }
    .input{
        width: 100%;
    }
    .trainer{
        grid-template-columns: repeat(2, 1fr);
        grid-column: auto;
    }
    .small-off{
        display: none;
    }
    .trainer-image1,
    .trainer-image2,
    .trainer-image3,
    .trainer-image4,
    .trainer-image5,
    .trainer-image6{
        height: 280px;
    }

    .card-image, .card-content{
        width: 100%;
    }

    .plans {
        grid-template-columns: repeat(4, 1fr);
    }

    .reviews{
        grid-template-columns: repeat(2, 1fr);
    }
    .star-time{
        flex-direction: column;
        align-items: flex-start;
        gap: 0px;
    }
    #start-rating{
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    .footer-content{
        gap: 25px;
    }
    .disclaimer{
        margin-top: 50px;
    }

    .scrollUp img{
        width: 60px;
        height: 60px;
    }
    .scrollUp{
        margin-right: 10px;
        top: 560px;
    }
}
